body {
    background: black;
    color: white; }
  
  .container {
    margin: 0 auto;
    width: 85%;
    margin-top: 20px; }
  
  .main {
    display: flex;
    flex-direction: row; }
  
  #front {
    max-width: 400px;
    height: 100%; }
    #front .profileimg {
      margin: 0 auto;
      width: 300px;
      height: 300px;
      margin: 30px auto; }
      #front .profileimg img {
        height: 100%;
        width: 100%;
        border: 5px solid yellow;
        border-radius: 50%; }
      #front .profileimg img:hover {
        transition: all 0.7s ease;
        border: 5px solid red; }
    #front .flex {
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    #front .heading {
      padding: 20px 0px 5px 20px;
      text-transform: uppercase;
      font-size: 1.8rem;
      color: white;
      text-align: left; }
    #front .subheading {
      padding: 20px;
      color: white;
      font-size: 1.3rem;
      text-align: justify; }
    #front .links {
      margin-top: 20px;
      display: flex;
      justify-content: space-around; }
      #front .links a {
        color: white; }
      #front .links :hover {
        transition: all 0.7s ease;
        color: darkgreen;
        transform: rotate(1turn); }
  
  #fixedhome button {
    position: absolute;
    top: 50px;
    right: 30px;
    margin-right: 100px;
    width: 100px;
    height: 40px;
    z-index: 1;
    text-transform: uppercase;
    font-size: 20px; }
  
  #fixedhome button:hover {
    transition: all 0.7s ease;
    color: white;
    background: black; }
  
  .sidebar {
    /* display: flex;
      flex-direction: row; */
    background-image: url("../images/slidingimages/155977.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 75vh;
    margin: 10vh 20px;
    /* img{
          width: 100%;
          height: 100%;
      } */ }
    .sidebar button {
      margin-top: 25vh;
      width: 150px;
      height: 50px;
      font-size: 16px;
      background: linear-gradient(to right, #111111, #737373);
      border: blue;
      margin-right: 50px;
      color: white;
      text-transform: uppercase; }
    .sidebar button:hover {
      transition: all 0.7s ease;
      color: black;
      background: linear-gradient(to right, #fff, #111111);
      width: 170px; }
  
  #github-container {
    max-width: 90%; }
    #github-container #githubheading {
      position: sticky;
      font-size: 3.6rem;
      text-decoration: underline;
      top: 0;
      background: black;
      color: white;
      width: 100%;
      text-align: center; }
    #github-container .projects {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      align-items: center; }
      #github-container .projects .project {
        width: 700px;
        height: 500px;
        border-bottom: 5px outset greenyellow;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        transition: all 0.7s ease;
        background: #232323;
        text-align: center; }
        #github-container .projects .project img {
          height: 300px;
          width: 100%; }
        #github-container .projects .project .title {
          font-size: 2.3rem;
          padding: 10px;
          margin-top: -5px;
          padding-left: 10px; }
        #github-container .projects .project .link {
          font-size: 1.2rem;
          padding-left: 10px; }
          #github-container .projects .project .link a {
            color: white;
            text-decoration: none;
            cursor: pointer; }
        #github-container .projects .project .description {
          padding-left: 10px;
          font-size: 2rem; }
      #github-container .projects .project:hover {
        transition: all 0.7s ease;
        border: 5px inset white;
        height: 550px;
        width: 100%;
        text-align: center;
        background: black; }
        #github-container .projects .project:hover .link a {
          text-decoration: underline; }
  
  .aboutme-container {
    max-width: 100%;
    height: 100%; }
    .aboutme-container .heading {
      position: sticky;
      font-size: 3.6rem;
      text-decoration: underline;
      top: 0;
      background: black;
      color: white;
      width: 100%;
      text-align: center; }
    .aboutme-container .details {
      margin: 10px;
      height: 85vh;
      background-image: url("../images/20181028_163359-02.jpeg");
      background-size: cover; }
    .aboutme-container .text {
      width: 75%;
      color: black;
      padding: 50px;
      font-size: 1.7rem;
      text-align: justify; }
      .aboutme-container .text li {
        list-style-type: lower-roman;
        padding: 0px 20px; }
  
  .contact-container {
    max-width: 90%;
    height: 100%; }
    .contact-container .heading {
      position: sticky;
      font-size: 3.6rem;
      text-decoration: underline;
      top: 0;
      background: black;
      color: white;
      width: 100%;
      text-align: center; }
    .contact-container .details {
      display: flex;
      flex-direction: column;
      margin: 40px;
      align-items: center; }
      .contact-container .details div {
        width: 600px;
        font-size: 2.1rem;
        border: 1px solid white;
        margin: 10px;
        padding: 25px; }
      .contact-container .details div:hover {
        transition: all 0.7s ease;
        width: 700px;
        background: white;
        color: black; }
    .contact-container .links {
      margin: 20px auto;
      width: 600px;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      .contact-container .links a {
        color: white; }
      .contact-container .links :hover {
        transition: all 0.7s ease;
        color: darkgreen;
        transform: rotate(1turn); }
  
  #imageheading {
    text-align: center;
    font-size: 2.5rem; }
  
  #images {
    display: flex;
    flex-direction: row;
    height: 650px;
    overflow: hidden; }
    #images .image {
      width: 33%;
      padding: 30px;
      position: relative; }
      #images .image img {
        height: 100%;
        width: 100%; }
      #images .image .title {
        position: absolute;
        bottom: 110px;
        left: 30%;
        font-size: 2.2rem; }
      #images .image .caption {
        position: absolute;
        bottom: 70px;
        left: 25%;
        font-size: 1.5rem; }
    #images .image:hover {
      transition: all 0.7s ease;
      transform: rotate(1turn);
      height: 575px;
      width: 40%;
      border: 2px solid white; }
  
  #forms {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 500px;
    position: relative; }
    #forms .form {
      width: 600px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly; }
      #forms .form .heading {
        font-size: 1.8rem;
        margin: 0;
        padding: 0; }
      #forms .form label {
        font-size: 1.6rem; }
      #forms .form input {
        height: 1.5rem;
        width: 100%;
        color: blue;
        font-size: 1.2rem; }
      #forms .form input[type=text]:focus {
        color: red;
        border: 2px outset blue; }
      #forms .form .submitbutton button {
        width: 100px;
        height: 1.5rem;
        font-size: 1.1rem;
        border: none; }
      #forms .form .submitbutton button:hover {
        background: #9696d1;
        border: 1px outset white; }
    #forms .hometown {
      width: 50%;
      height: 425px;
      padding: 35px; }
      #forms .hometown img {
        height: 100%;
        width: 100%;
        border: none;
        transition: all 0.7s ease; }
      #forms .hometown img:hover {
        transition: all 0.7s ease;
        transform: scale(1.1); }
  